{% extends "base.html" %}

{% block content %}

<div class="card p-4">

<h3>Agendar Consulta</h3>

<form method="POST">

    <label>Paciente</label>
    <select name="paciente_id" class="form-control mb-2">
        {% for p in pacientes %}
            <option value="{{p.id}}">{{p.nome}}</option>
        {% endfor %}
    </select>

    <label>Médico</label>
    <select name="medico_id" class="form-control mb-2">
        {% for m in medicos %}
            <option value="{{m.id}}">{{m.nome}} - {{m.especialidade}}</option>
        {% endfor %}
    </select>

    <label>Data</label>
    <input type="date" name="data" class="form-control mb-2">

    <label>Hora</label>
    <input type="time" name="hora" class="form-control mb-2">

    <button class="btn btn-success">Agendar</button>

</form>

</div>

{% endblock %}
